<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="page-header-title"><%= title %></h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-white" href="/panel/sn">
                <i class="bi-arrow-left me-1"></i>
                <span>Kembali</span>
            </a>
        </div>
    </div>
</div>


<div class="card">
    <div class="card-header">
        <h4 class="card-title">Informasi Serial Number</h4>
    </div>
    <div class="card-body">
        <div class="row py-4">
            <div class="col-lg-8 offset-lg-2">
                <p>Detail informasi serial number pengguna aplikasi myexams.</p>
                <div class="table-responsive">
                    <table class="table table-centered mb-0 table-nowrap">
                        <tbody class="text-start">
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">ID</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <th>
                                    <strong><%= monitor.id %></strong>
                                </th>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Nama Instansi</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td><%= monitor.snName || '-' %></td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">E-Mail</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td><%= monitor.snEmail || '-' %></td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Nomor Serial</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <th>
                                    <input type="text" class="form-control" disabled value="<%= monitor.serialNumber %>">
                                </th>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Diterbitkan</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <span><%= monitor.snCreatedAtString.time %></span>
                                    <i>(<%= monitor.snCreatedAtString.from %> )</i>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Versi</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <span><%= monitor.snVersion || '-' %></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Server</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <span><%= monitor.snServer || '-' %></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Masa Aktif</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <th>
                                    <% if (monitor.snExpiredAt) { %>
                                        <strong><%= monitor.activePeriod %> Hari</strong>
                                    <% } else {%>
                                        <strong>Unlimited</strong>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Masa Tenggat</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <th>
                                    <% if (!monitor.snExpiredAt) { %>
                                        <span>-</span>
                                    <% } else {%>
                                        <span><%= monitor.snExpiredAtString.time %></span>
                                        <% if (monitor.isExpired) { %>
                                            <i class="text-warning">(<%= monitor.snExpiredAtString.from %> )</i>
                                        <% } else {%>
                                            <i class="text-success">(<%= monitor.snExpiredAtString.from %> )</i>
                                        <% } %>
                                    <% } %>
                                </th>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Status</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <% if (monitor.status === 'invalid') { %>
                                        <span class="badge rounded-pill bg-danger font-size-12">Invalid</span>
                                    <% } else if (monitor.status === 'expired') { %>
                                        <span class="badge rounded-pill bg-warning font-size-12">Expired</span>
                                    <% } else if (monitor.status === 'blocked') { %>
                                        <span class="badge rounded-pill bg-secondary font-size-12">Blocked</span>
                                    <% } else if (monitor.status === 'valid') { %>
                                        <span class="badge rounded-pill bg-success font-size-12">Valid</span>
                                    <% } else {%>
                                        <span class="font-size-12">-</span>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Pengecekan</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <span><%= monitor.snUpdatedAtString.time %></span>
                                    <i>(<%= monitor.snUpdatedAtString.from %> )</i>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Hit Pengecekan</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <span><%= monitor.hitCounter || 0 %> hit</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">IP Publik</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td><%= monitor.publicIp || '-' %></td>
                            </tr>
                            <tr>
                                <td style="width: 0;">
                                    <h5 class="font-size-14 m-0">Informasi Instansi</h5>
                                </td>
                                <td style="width: 0;">:</td>
                                <td>
                                    <textarea class="form-control" rows="8" disabled><%- schoolInfoBeauty %></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="float-end mt-3">
                    <a href="/panel/sn/update?<%= searchParams %>" class="btn btn-md btn-info">
                        <span>Update SN</span>
                    </a>
                    <a href="/panel/monitors/<%= monitor.id %>/block-toggle" class="btn btn-md btn-secondary">
                        <% if (monitor.blocked) { %>
                            <span>Unblock User</span>
                            <% } else {%>
                            <span>Block User</span>
                        <% } %>
                    </a>
                    <a href="/panel/monitors/<%= monitor.id %>/delete" onclick="return confirm('Are you sure?')" class="btn btn-md btn-danger">
                        <span>Hapus</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
