<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="page-header-title"><%= title %></h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-white" href="/panel/sn/verify">
                <i class="bi-arrow-left me-1"></i>
                <span>Kembali</span>
            </a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Generate Serial Number</h4>
    </div>
    <div class="card-body">
        <div class="row py-4">
            <div class="col-lg-8 offset-lg-2">
                <p>Masukan informasi penggunaan lisensi untuk menerbitkan serial number baru!</p>
                <form method="GET" action="/panel/sn/publish">
                    
                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Nama Aplikasi</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" disabled value="<%= appKeyBody.name %>">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Versi Aplikasi</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" disabled value="<%= appKeyBody.version %>">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>ID Aplikasi</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" disabled value="<%= appKeyBody.appId %>">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>ID Produk</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" disabled value="<%= appKeyBody.productId %>">
                        </div>
                    </div>

                    <hr>

                    <input type="hidden" name="app-key" value="<%= appKey %>" required>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Nama Instansi</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="text" name="name" class="form-control" placeholder="Masukan nama instansi." required value="myexams_test">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Penempatan</strong>
                        </label>
                        <div class="col-lg-10">
                            <select class="form-control" name="server">
                                <option value="online">Server Online</option>
                                <option value="local">Server Lokal</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Email</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="email" name="email" class="form-control" placeholder="Masukan email." required value="fanesahadi@gmail.com">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Diterbitkan</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="datetime-local" name="createdAt" class="form-control" required value="<%= datetimeLocal %>">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <label class="col-lg-2 col-form-label form-label">
                            <strong>Tenggat Aktif</strong>
                        </label>
                        <div class="col-lg-10">
                            <input type="datetime-local" name="expiredAt" class="form-control">
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">
                            <span>Terbitkan Serial Number</span>
                            <i class="bi-arrow-right ms-1"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
