<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h1 class="page-header-title">Serial Number Monitor</h1>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" href="/panel/sn/verify">
                <i class="bi-plus me-1"></i>
                <span>Generate Serial Number</span>
            </a>
        </div>
    </div>
</div>

<!-- Monitoring Serial Number -->
<div class="card mb-3 mb-lg-5">
    <!-- Header -->
    <div class="card-header">
        <div class="row justify-content-between align-items-center flex-grow-1">
            <div class="col-md">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="card-header-title">Monitoring Serial Number</h4>
                </div>
            </div>

            <div class="col-auto">
                <div class="row align-items-sm-center">
                    <div class="col-sm-auto">
                        <div class="row align-items-center gx-0">
                            <div class="col">
                                <span class="text-secondary me-2">Status:</span>
                            </div>
                            <div class="col-auto">
                                <div class="tom-select-custom tom-select-custom-end">
                                    <select
                                        class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                        data-target-column-index="3" data-target-table="datatable" autocomplete="off"
                                        data-hs-tom-select-options='{
                                            "searchInDropdown": false,
                                            "hideSearch": true,
                                            "dropdownWidth": "10rem"
                                        }'>
                                        <option value="null" selected>All</option>
                                        <option value="Valid">Valid</option>
                                        <option value="Invalid">Invalid</option>
                                        <option value="Expired">Expired</option>
                                        <option value="Blocked">Blocked</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-auto">
                        <div class="row align-items-center gx-0">
                            <div class="col">
                                <span class="text-secondary me-2">Penempatan:</span>
                            </div>
                            <div class="col-auto">
                                <div class="tom-select-custom tom-select-custom-end">
                                    <select
                                        class="js-select js-datatable-filter form-select form-select-sm form-select-borderless"
                                        data-target-column-index="6" data-target-table="datatable" autocomplete="off"
                                        data-hs-tom-select-options='{
                                            "searchInDropdown": false,
                                            "hideSearch": true,
                                            "dropdownWidth": "10rem"
                                        }'>
                                        <option value="null" selected>All</option>
                                        <option value="online">online</option>
                                        <option value="local">local</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <form>
                            <div class="input-group input-group-merge input-group-flush">
                                <div class="input-group-prepend input-group-text">
                                    <i class="bi-search"></i>
                                </div>
                                <input id="datatableSearch" type="search" class="form-control" placeholder="Search"
                                    aria-label="Search">
                            </div>
                        </form>
                    </div>

                    <div class="col-md">
                        <div class="dropdown">
                            <button type="button" class="btn btn-white btn-sm dropdown-toggle w-100"
                                id="log-actions" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>Actions</span>
                            </button>

                            <div class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="log-actions">
                                <a class="dropdown-item" href="/panel/monitors/delete-invalid" onclick="return confirm('Are you sure?')">
                                    <span>Hapus Invalid</span>
                                </a>
                                <a class="dropdown-item text-danger" href="/panel/monitors/delete-expired" onclick="return confirm('Are you sure?')">
                                    <span>Hapus Expired</span>
                                </a>
                                <a class="dropdown-item text-danger" href="/panel/monitors/delete-all" onclick="return confirm('Are you sure?')">
                                    <span>Hapus Semua</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Header -->

    <!-- Table -->
    <div class="table-responsive datatable-custom">
        <table id="datatable"
            class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
            data-hs-datatables-options='{
               "columnDefs": [{
                  "targets": [11],
                  "orderable": false
                }],
               "order": [],
               "info": {
                 "totalQty": "#datatableWithPaginationInfoTotalQty"
               },
               "search": "#datatableSearch",
               "entries": "#datatableEntries",
               "pageLength": 8,
               "isResponsive": false,
               "isShowPaging": false,
               "pagination": "datatablePagination"
             }'>
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pe-0">No.</th>
                    <th>Nama Instansi</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Diterbitkan</th>
                    <th>Versi</th>
                    <th>Penempatan</th>
                    <th>Masa Aktif</th>
                    <th>Masa Tenggat</th>
                    <th>Pengecekan</th>
                    <th>Hit Cek</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <% monitors.forEach((monitor, index) => { %>
                <tr>
                    <td class="table-column-pe-0"><%= index + 1 %>.</td>
                    <td>
                        <h5 class="text-inherit mb-0"><%= monitor.snName || '-' %></h5>
                    </td>
                    <td><%= monitor.snEmail || '-' %></td>
                    <td>
                        <% if (monitor.status === 'invalid') { %>
                            <span class="badge rounded-pill bg-danger font-size-12">Invalid</span>
                        <% } else if (monitor.status === 'expired') { %>
                            <span class="badge rounded-pill bg-warning font-size-12">Expired</span>
                        <% } else if (monitor.status === 'blocked') { %>
                            <span class="badge rounded-pill bg-secondary font-size-12">Blocked</span>
                        <% } else if (monitor.status === 'valid') { %>
                            <span class="badge rounded-pill bg-success font-size-12">Valid</span>
                        <% } else {%>
                            <span class="font-size-12">-</span>
                        <% } %>
                    </td>
                    <td><%= monitor.snCreatedAtString.time || '-' %></td>
                    <td><%= monitor.snVersion || '-' %></td>
                    <td><%= monitor.snServer || '-' %></td>
                    <td>
                        <% if (monitor.snExpiredAt) { %>
                            <strong><%= monitor.activePeriod %> Hari</strong>
                        <% } else {%>
                            <strong>Unlimited</strong>
                        <% } %>
                    </td>
                    <td>
                        <% if (!monitor.snExpiredAt) { %>
                            <span>-</span>
                        <% } else {%>
                            <span><%= monitor.snExpiredAtString.time %></span>
                            <% if (monitor.isExpired) { %>
                                <i class="text-warning">(<%= monitor.snExpiredAtString.from %> )</i>
                            <% } else {%>
                                <i class="text-success">(<%= monitor.snExpiredAtString.from %> )</i>
                            <% } %>
                        <% } %>
                    </td>
                    <td><%= monitor.snUpdatedAtString.from || '-' %></td>
                    <td><%= monitor.hitCounter || 0 %> hit</td>
                    <td class="text-center">
                        <a href="/panel/sn/<%= monitor.id %>" class="btn btn-sm btn-info">
                            <span>Detail</span>
                        </a>
                        <a href="/panel/monitors/<%= monitor.id %>/delete" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">
                            <span>Hapus</span>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <!-- End Table -->

    <!-- Footer -->
    <div class="card-footer">
        <div class="row justify-content-center justify-content-sm-between align-items-sm-center">
            <div class="col-sm mb-2 mb-sm-0">
                <div class="d-flex justify-content-center justify-content-sm-start align-items-center">
                    <span class="me-2">Showing:</span>
                    <div class="tom-select-custom">
                        <select id="datatableEntries" class="js-select form-select form-select-borderless w-auto"
                            autocomplete="off" data-hs-tom-select-options='{
                                "searchInDropdown": false,
                                "hideSearch": true
                            }'>
                            <option value="8" selected>8</option>
                            <option value="16">16</option>
                            <option value="32">32</option>
                            <option value="64">64</option>
                            <option value="128">128</option>
                        </select>
                    </div>
                    <span class="text-secondary me-2">of</span>
                    <span id="datatableWithPaginationInfoTotalQty"></span>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <nav id="datatablePagination" aria-label="Activity pagination"></nav>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->
</div>

<script>
    HSCore.components.HSDatatables.init($('#datatable'), {
        language: {
            zeroRecords: `<div class="text-center p-4">
              <img class="mb-3" src="/panel-assets/svg/oc-error.svg" alt="Image Description" style="width: 10rem;" data-hs-theme-appearance="default">
                <p class="mb-0">Tidak ada data!</p>
            </div>`
        }
    });

    const datatable = HSCore.components.HSDatatables.getItem(0)
    document.querySelectorAll('.js-datatable-filter').forEach(function (item) {
        item.addEventListener('change', function (e) {
            const elVal = e.target.value,
                targetColumnIndex = e.target.getAttribute('data-target-column-index'),
                targetTable = e.target.getAttribute('data-target-table');
            HSCore.components.HSDatatables.getItem(targetTable).column(targetColumnIndex).search(
                elVal !== 'null' ? elVal : '').draw()
        })
    })
    setTimeout(() => {
        window.location.reload()
    }, 1000 * 15)
</script>